- binding.pry
- semantic_form_for @mailer do |f|
  - f.inputs do
    - f.input :confirmation_email, :as => :text, :input_html => {:rows => 7}
    - f.input :regular_email, :as => :text, :input_html => {:rows => 7}
    - f.input :activation_email, :as => :text, :input_html => {:rows => 7}
    - f.input :deactivation_email, :as => :text, :input_html => {:rows => 7}
  - f.buttons