.statistic
  %h4 Statistik
  %ul
    %li
      %span.statistic-span-left Iklan hari ini
      %span.statistic-span-right 1000
    %li
      %span.statistic-span-left Iklan kemarin
      %span.statistic-span-right 1000
    %li
      %span.statistic-span-left Total Iklan
      %span.statistic-span-right 1000
    %li
      %span.statistic-span-left Kunjungan hari ini
      %span.statistic-span-right= @statistic.total_visit_for_today
    %li
      %span.statistic-span-left Total kunjungan
      %span.statistic-span-right= @statistic.total_visited